---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		<h2>Welcome to Outcast Lifesteal SMP - Survive, Thrive, Conquer!<h2>

                Dive into the ultimate survival experience with Outcast Lifesteal SMP! Our server is tailored for players who 
                crave thrilling adventures, intense PvP battles, and a tight-knit community. Whether you're a survival expert 
                or new to the game, Outcast Lifesteal SMP offers endless excitement and challenges.
	</p>

	<p>
		<h2>Why Choose Outcast Lifesteal SMP?<h2>

                Lifesteal Mechanics: Experience a unique twist on survival with our Lifesteal system. Gain hearts by defeating 
                enemies and grow stronger with every victory. But beware, losing battles comes at a cost!
                Dynamic PvP: Engage in heart-pounding player vs. player combat where strategy and skill are key. Test your mettle
                against other players and prove you're the ultimate survivor.
                Community Events: Participate in regular events that bring our community together. From epic raids to building 
                contests, there's always something happening to keep you engaged and entertained.
                Custom Features: Enjoy a server filled with custom features that enhance gameplay and make every session unique. 
                Our dedicated team is constantly updating and improving the experience.
                Active Support: Our friendly and attentive staff are always available to help you out. We ensure a fair and fun 
                environment for everyone.
                Join Us Today! Embark on a journey where survival is just the beginning. Outcast Lifesteal SMP offers a world of 
                adventure, camaraderie, and epic battles. Join our server today and become part of a community that thrives on 
                challenge and excitement. Are you ready to conquer?
	</p>
</Layout>
