---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../public/blog-placeholder-about.jpg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>Hello, And Welcome To Outcasts Events!</h2>
			<p>
			
                        </p>   <h5><a href="https://outcasts-lifesteal.com/about/">About Us</a><h5>
                        <p>    <h5><a href="https://outcasts-lifesteal.com/blog/">Updates</a><h5>
                     
                        </p>     
                        <p>    <h5>Our Discord <a href="#"></a><a href="https://discord.gg/4CrX77QMYt/">Outcasts Events</a><h5>
                               <h5>Join for updates and you can also play on our Lifesteal SMP<h5>
			</p>
                        <p>
                        </p>   ℹ️The Lifesteal SMP Info:
                        <p>    ⚠️Server IP: play.outcasts.us
                        </p>   ⚠️Server Version: 1.21.1+
		</main>
		<Footer />
	</body>
</html>
